<a href="https://colab.research.google.com/github/Kustarevvv/Practice/blob/main/Practice_1(part_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
l = random.sample(range(1,101), 5)
print(l)

[32, 8, 60, 37, 66]

В программе задан список месяцев months. Выведите на экран первый и последний элементы списка в строку через пробел.

In [ ]:
month =['март', 'апрель', 'май']
print(month[0], month[-1])

март май

В программе задан список месяцев staff. Выведите на экран список из трех последних элементов списка staff.

In [ ]:
staff =['март', 'апрель', 'май', 'июнь', 'июль']
print(staff[-3:])

['май', 'июнь', 'июль']

Программа принимает на вход 3 целых числа: start, end и step. Выведите на экран список lst с целыми значениями от start (включительно) до end (исключительно) с шагом step.

In [ ]:
start=10
end = 50
step = 5
lst = []
for i in range(start,end+1,step):
  lst.append(i)
print(lst)

[10, 15, 20, 25, 30, 35, 40, 45, 50]

В программе задан список pi, содержащий определенное количество знаков числа Пи. Добавьте следующую цифру в список и выведите его на экран.

In [ ]:
pi = ['1', '4', '1', '5']
pi.append('9')
print(pi)

['1', '4', '1', '5', '9']

В программе задан список menu с блюдами на обед. Удалите из списка второй суп ("солянка"), сохраните его в отдельную переменную, а затем выведите ее на экран. Также выведите обновленный список menu на экран.

In [ ]:
menu = ['греча','солянка','макароны','куриный суп']
m = menu.pop(1)

print(menu, 'удалённый суп:', m)

['греча', 'макароны', 'куриный суп'] удалённый суп: солянка

В программе задан список menu с блюдами на обед. Замените салат "ачик-чучук" из списка на "шакароб" и выведите обновленный список menu на экран

In [ ]:
menu = ['греча','ачик-чучук','макароны','куриный суп']
menu[1]='шакароб'
print(menu)

['греча', 'шакароб', 'макароны', 'куриный суп']

На вход программы подается целое положительное число n и создается числовой список lst длины n. Не создавая новый список разделите каждый элемент lst пополам и выведите результат на экран.

In [ ]:
n = 10
lst=[]
for i in range(1,n+1):
  lst.append(i/2)
print(lst)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

В программе задан список lst, состоящий из некоторого количества разнотипных элементов. Не создавая новый список приведите к строковому типу все элементы lst и выведите результат на экран.

In [ ]:
lst = [1,'ff', 1.8, True]
for i in range (len(lst)):
  lst[i]=str(lst[i])
print(lst)

['1', 'ff', '1.8', 'True']

Программа принимает на вход строку shopstring, состоящую из продуктов, которые необходимо купить в магазине, разделенных запятой без пробела (","). Преобразуйте данную строку в список покупок и выведите его на экран.

In [ ]:
shopstring = 'булка,картошка,яйца'
shoplist=shopstring.split(',')
print(shoplist)

['булка', 'картошка', 'яйца']

В программе задан список shoplist, содержащий продукты, которые необходимо купить в магазине. Преобразуйте данный список в строку используя дефис ("-") в качестве разделителя и выведите ее на экран.

In [ ]:
shoplist = ['булка','яйца','картошка']
shopstring='-'.join(shoplist)
print(shopstring)

булка-яйца-картошка

Напишите программу, которая получает на вход список из латинских букв и добавляет в него недостающие буквы латинского алфавита. Производить сортировку полученного массива в алфавитном порядке не нужно.

In [ ]:
abc='abcdefghijklmnopqrstuvwxyz'
lst=['q','s','f']
for let in abc:
  if let not in lst:
    lst.append(let)
print(lst)

['q', 's', 'f', 'a', 'b', 'c', 'd', 'e', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 't', 'u', 'v', 'w', 'x', 'y', 'z']

На вход программы подается число N. В следующем коде замените символы «???» так, чтобы полученный код создавал список чисел numeric_list от 1 до N включительно, и выведите список на экран.

In [ ]:
N = int(input("Введите число N:"))
numeric_list = list(range(1, N + 1))
print(numeric_list)

Введите число N:4
[1, 2, 3, 4]

Выведите на отдельных строчках максимальный и минимальный элементы в списке из 10 числовых значений.

In [ ]:
s = []
for i in range(1,11):
  s.append(i)
print(max(s), min(s), sep = '\n')

10
1

Создайте пустой кортеж любым известным вам способом, сохранив его в переменную tup.

In [ ]:
tup = ()

Создайте кортеж tup состоящий из двух элементов: первый целочисленный, а второй — строковый.

In [ ]:
tup = (10, 'w')
print(tup)

(10, 'w')

В программе задан кортеж tup, состоящий из некоторого количества элементов. Передайте на вход программы целочисленную переменную cnt, а затем создайте и выведите на экран новый кортеж, который будет содержать только кратные cnt элементы исходного кортежа.

In [ ]:
tup = (2, "abc", 8, "def", 10, 12, "ghi", 15, 20)

cnt = int(input("Введите число cnt: "))

result_tup = tuple(item for item in tup if isinstance(item, int) and item % cnt == 0)

print(result_tup)

Введите число cnt: 3
(12, 15)

В программе задан кортеж tup, состоящий из некоторого количества элементов. Передайте на вход программы целочисленную переменную cnt, повторите кортеж cnt раз и сохраните результат в исходную переменную, а затем выведите ее на экран.

In [ ]:
tup = (1,'2',3)

cnt = int(input())
tup = tup*cnt
print(tup)

2
(1, '2', 3, 1, '2', 3)

В программе заданы пара кортежей tup1 и tup2, состоящие из некоторого количества элементов. Выполните конкатенацию (сложение) двух кортежей, сохраните полученный кортеж в новую переменную, а затем выведите ее на экран.

In [ ]:
tup1 = (1,2,'2')
tup2 = ('aa', 1.2)
tup3 = tup1 + tup2
print(tup3)

(1, 2, '2', 'aa', 1.2)

В программе задан кортеж tup, состоящий из некоторого количества элементов. Передайте на вход программы строковую переменную s и выведите на экран индекс первого вхождения элемента со значением s в кортеж tup.

In [ ]:
tup = ('w', 'r', 's', 's', 12)
s = 's'
index = []
for i in range(len(tup)):
  if s == tup[i]:
    print(i)
    break

2

В программе задан кортеж tup, состоящий из некоторого количества целочисленных элементов. Найдите максимальный и минимальный элементы кортежа, а затем выведите их на экран в одну строку через пробел.

In [ ]:
tup = (2, 30, 10, 32, 7)
print(max(tup), min(tup))

32 2

В программе задан кортеж tup, состоящий из некоторого количества целочисленных элементов. Отсортируйте в порядке возрастания заданный кортеж, сохраните результат в список lst и выведите результат на экран в виде кортежа.

In [ ]:
tup = (2, 30, 10, 32, 7)
sorted = sorted(tup)
print(sorted)

[2, 7, 10, 30, 32]

Напишите функцию sort(), которая принимает на вход кортеж с целыми числами, а на выходе возвращает список всех элементов кортежа в отсортированном виде

In [ ]:
a = (4,3,2,1)
N = len(a)
a = list(a)
def sort(a):
  for i in range(N-1):
    for j in range(N-i-1):
        if a[j] > a[j+1]:
            a[j], a[j+1] = a[j+1], a[j]
  return(a)
print(sort(a))

[1, 2, 3, 4]

In [ ]:
s = ()